<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
	<Description></Description>
	<ProgrammingLanguage>cs</ProgrammingLanguage>
	<Platform>any</Platform>
	<IsDebug>false</IsDebug>
	<ExternalDllPath></ExternalDllPath>
	<UseLegacyCompiler>false</UseLegacyCompiler>
	<File>GeoFunctions.cs</File>
  <File>GeoSearch.cs</File>
</Sinequa>