<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
	<Description>Export data from index</Description>
	<ProgrammingLanguage>cs</ProgrammingLanguage>
	<Platform>any</Platform>
	<IsDebug>false</IsDebug>
	<ExternalDllPath></ExternalDllPath>
	<UseLegacyCompiler>false</UseLegacyCompiler>
	<Reference>System.Web.dll</Reference>
	<File>ExportIndexToCsv.cs</File>
</Sinequa>