<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
	<Revision>1</Revision>
	<Description></Description>
	<ProgrammingLanguage>cs</ProgrammingLanguage>
	<Platform>any</Platform>
	<Files>
		<e>
			<Name>EngineBenchmark.cs</Name>
			<Comment>CommandPlugin</Comment>
		</e>
		<e>
			<Name>EngineBenchmarkHelper.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>ThreadGroup.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>ThreadGroupOutput.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>EngineActivityManager.cs</Name>
			<Comment></Comment>
		</e>
		<e>
			<Name>BenchmarkQuery.cs</Name>
			<Comment></Comment>
		</e>
	</Files>
	<IsDebug>false</IsDebug>
	<ExternalDllPath></ExternalDllPath>
	<UseLegacyCompiler>false</UseLegacyCompiler>
	<Reference>%%SystemXmlLinqDll%%</Reference>
</Sinequa>
