<?xml version="1.0" encoding="utf-8"?>
<Sinequa>
	<Revision>1</Revision>
	<Description></Description>
	<ProgrammingLanguage>cs</ProgrammingLanguage>
	<Platform>any</Platform>
	<Files>
		<e>
			<Name>ConfigChecker.cs</Name>
			<Comment></Comment>
		</e>
	</Files>
	<IsDebug>false</IsDebug>
	<ExternalDllPath></ExternalDllPath>
</Sinequa>